.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background: var(--ff-surface);
  border-bottom: 1px solid var(--ff-border);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--ff-primary);
  font-size: 22px;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-menu-button {
  display: flex;
  align-items: center;
  gap: 4px;
}
::ng-deep .mat-mdc-menu-content {
  background-color: #ffffff !important;
}