<div class="forgot-password-page">

  <div class="forgot-password-card">

    <div class="forgot-password-header">
      <h1>FlowForge</h1>
      <p>Reset your password</p>
    </div>

    <form [formGroup]="forgotPasswordForm">

      <mat-form-field appearance="outline">

        <mat-label>Email</mat-label>

        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter your email"
          autocomplete="email">

        @if (
          forgotPasswordForm.controls.email.touched &&
          forgotPasswordForm.controls.email.hasError('required')
        ) {
          <mat-error>
            Email is required
          </mat-error>
        }

        @if (
          forgotPasswordForm.controls.email.touched &&
          forgotPasswordForm.controls.email.hasError('email')
        ) {
          <mat-error>
            Please Enter Valid Email
          </mat-error>
        }

      </mat-form-field>

      <button
  mat-flat-button
  type="submit"
  (click)="onSubmit()"
  class="forgot-password-button"
  [disabled]="forgotPasswordForm.invalid || isLoading">

  @if (isLoading) {

    <mat-spinner diameter="20"></mat-spinner>

  } @else {

    Send Reset Link

  }

</button>

    </form>

    <div class="back-to-login">
      <a routerLink="/auth/login">
        Back to Login
      </a>
    </div>

  </div>

</div>